  <form action="" autocomplete="off">
    <legend>Adresse</legend>
    <div class="mb-3">
      <label for="first-name" class="form-label">Name</label>
      <input type="text" name="name" id="first-name" class="form-control" placeholder="Vorname">
    </div>

    <div class="mb-3">
      <label for="last-name" class="form-label">Name</label>
      <input type="text" name="name" id="last-name" class="form-control" placeholder="Nachname">
    </div>

    <div class="mb-3">
      <label for="street" class="form-label">Strasse</label>
      <input type="text" name="name" id="street" class="form-control" placeholder="Strasse">
    </div>

    <div class="mb-3">
      <label for="postalcode" class="form-label">Plz</label>
      <input type="number" name="name" id="postalcode" class="form-control" placeholder="Plz">
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">Ort</label>
      <input type="text" name="name" id="city" class="form-control" placeholder="Stadt/Ort">
    </div>
  </form>

  <!-- Problem
  <form autocomplete="off">
    <fieldset>
      <legend>Adresse</legend>
      <div class="mb-3">
        <label for="first-name" class="form-label">Name</label>
        <input type="text" name="name" id="first-name" class="form-control" placeholder="Vorname">
      </div>

      <div class="mb-3">
        <label for="last-name" class="form-label">Name</label>
        <input type="text" name="name" id="last-name" class="form-control" placeholder="Nachname">
      </div>

      <div class="mb-3">
        <label for="street" class="form-label">Strasse</label>
        <input type="text" name="name" id="street" class="form-control" placeholder="Strasse">
      </div>

      <div class="mb-3">
        <label for="postalcode" class="form-label">Plz</label>
        <input type="number" name="name" id="postalcode" class="form-control" placeholder="Plz">
      </div>

      <div class="mb-3">
        <label for="city" class="form-label">Ort</label>
        <input type="text" name="name" id="city" class="form-control" placeholder="Stadt/Ort">
      </div>
    </fieldset>

    <fieldset>
      <legend>Geschenk Optionen</legend>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          Ist Geschenk
        </label>
      </div>

      <div class="mb-3">
        <label for="gift-recipient" class="form-label">Empfänger</label>
        <input type="text" name="recipient" id="recipient" class="form-control" placeholder="Empfänger">
      </div>

      <div class="mb-3">
        <label for="gift-text" class="form-label">Grusstext</label>
        <textarea rows="10" name="gift-text" id="gift-text" class="form-control" placeholder="Grusstext"></textarea>
      </div>

      <div class="mb-3">
        <label for="gift-from" class="form-label">Von</label>
        <input type="text" name="gift-sender" id="gift-from" class="form-control" placeholder="Geben Sie ihren Namen ein">
      </div>
    </fieldset>

  </form>
    //-->
  <!-- weitere fieldsets -->
