<div class="container">
  <form [formGroup]="form">
    <div class="mb-3" aria-label="notiz form">
      <span class="form-label">
        Notizen*
      </span>
      <input formControlName="notiz" type="text" name="notiz" id="" class="form-control" [appMaxLength]="5" autocomplete="off" #maxLength="MaxLength">
    </div>

    <div class="mb-3" aria-label="notiz form">
      <span class="form-label">
        Kommentar
      </span>
      <textarea formControlName="kommentar" type="text" name="kommenta" id="" class="form-control" [appMaxLength]="1000" autocomplete="off" #maxLength2="MaxLength">
      </textarea>
    </div>
  </form>
</div>
